* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.apple {
    width: 10%;
}

ul {
    background-color: cyan;
    width: 106%;
    height: 100%;
    animation: lastBox;
    animation-duration: 1.2s;
    /* animation-iteration-count: infinite; */
    transition: 0.1s all ease-in-out;
    animation-delay: .35s;
}

li {
    list-style-type: none;
    padding: .7rem;
    font-size: 1.65rem;
}

nav {
    height: 100vh;
    width: 25vw;
    position: relative;
    /* transform: translateX(-120%); */
}

.black {
    background-color: red;
    width: 108%;
    height: 100%;
    z-index: -4;
    animation: lastBox;
    animation-delay: .15s;
    animation-duration: 1s;
    /* animation-iteration-count: infinite; */
    transition: 0.1s all ease-in-out;
}

.grey {
    background-color: rgb(53, 168, 82);
    width: 110%;
    height: 100%;
    z-index: -5;
    animation: lastBox;
    animation-duration: .8s;
    /* animation-iteration-count: infinite; */
    transition: 0.1s all ease-in-out;
}

.black,
.grey {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes lastBox {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(120%);
    }
}