/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

/* nav */

.nav-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

li {
    list-style-type: none;
    padding: 1.5rem 2rem 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

li:hover {
    border-bottom: 1px solid #c9d6df;
}

.nav {
    width: 30vw;
}

ul {
    background-color: #f0f5f9;
    width: 20vw;
    height: 100vh;
    transform: translateX(-100%);
    transition: 1.2s all ease-in-out;
    padding: 2rem;
}

/* hamburger */

.hamburger {
    right: 0;
    font-size: 2rem;
    margin: 1.5rem 3rem;
    cursor: pointer;
}

.cross {
    right: 0;
    font-size: 2.5rem;
    margin: 1.5rem 3rem;
    cursor: pointer;
}

.hide {
    display: none !important;
}



/* image */
.apple {
    width: 5vw;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* sliding divs */

.black {
    height: 100%;
    max-width: 25vw;
    background-color: #1e2022;
    transform: translateX(-100%);
    transition: .3s all ease-in-out;
}

.grey {
    height: 100%;
    max-width: 21vw;
    background-color: #c9d6df;
    transform: translateX(-100%);
    transition: .5s all ease-in-out;
}

.dark-grey {
    height: 100%;
    max-width: 22.7vw;
    background-color: #52616b;
    transform: translateX(-100%);
    transition: .8s all ease-in-out;
}

.visible {
    transform: translateX(0%);
}